/* work sans font from google from */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* shared styles */
*{
  font-family: "Work Sans", sans-serif; 
}
.btn-primary{
  border-radius: 8px;
background-color: orange;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600px;
  border: 0px;
  cursor: pointer;
}
/* header styles */
header{
  background-color: rgb(247, 231, 205);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title{
  font-size: 2.8rem;
  font-weight: 700px;
  color: black;
}
nav > ul {
  display: flex;
  gap: 30px;
}
nav li {
  list-style: none;
  font-weight: 500px;
  font-size: 1rem;
}
nav li a {
  text-decoration: none;
  color: black;
}
/* banner styles */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700px;
  color: rgb(11, 1, 1);
}
.banner-description{
  color: gray;
}
.banner img{
  margin-top: 20px;
  width: 100%;
}
/* media quires */
/* mobile devices */
@media screen and (max-width:576px) {
  header{
    padding: 20px;
  }
  nav{
    flex-direction: column;
  }
}
/* tablet and medium devices */
@media screen and (min-width:576px) and (max-width:980px){
  header{
    padding: 20px;
  }
  nav{
    flex-direction: column;
  }
  
}
/* main styles */
main{
  max-width: 1440px;
  margin: 0 auto;
}
/* teams styles */
.teams-container{
  display: flex;
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
}
.teams-contain{
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title{
  font-size: 2.8rem;
}
.teams-title .quick-list {
  color:gray;
  font-weight: 500;
}
.teams-title .text-features {
  color: orange;
  font-weight: 700px;
}